/* Making the site page responsive */

body{
    width: 100%;
    height: 100%;
}

/* Styling the main page */

.sudoku{
    text-align: center;
    border: 1px solid red;
    padding: 25px;
    margin: 30px;
}


/* Styling the sentence "Sudoku Game" */

span{
    letter-spacing: 1.5px;
    font-family: "Cabin Sketch", cursive;
    font-size: 32px;
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Styling the button */

.btn{
    background-color: transparent;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 22px;
    padding: 2%;
    border: 1px solid cyan;
    border-radius: 5px;
	animation: btn 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}



/* Button animation */

@keyframes btn{
    0% {
        filter: blur(12px);
        opacity: 0;
      }
      100% {
        filter: blur(0px);
        opacity: 1;
      }
    }


/* Styling the buttons when mouse hovering */

a :hover{
    background-color: cyan;
    box-shadow: 3em;
    cursor: pointer;
}